exchange-list {
  ion-item {
    border: initial !important;
    border-radius: initial !important;
    border-bottom:  1px solid #707070 !important;
  }
  .green {
    color: #7ED221;
  }
  .red {
    color: #EE445A;
  }

  .item-md p {
    color: #c5c5c5;
  }
}
